.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  gap: 10px;
  flex: 1;
}

.logo {
  flex: 1;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 20px;
}