.container {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: start;
  /* justify-content: space-between; */
}

.category {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
}

.category.style {
  background-color: #57c4ff31;
}

.category.fashion {
  background-color: #da85c731;
}

.category.food {
  background-color: #7fb88133;
}

.category.travel {
  background-color: #ff795736;
}

.category.culture {
  background-color: #ffb04f45;
}

.category.coding {
  background-color: #5e4fff31;
}